<div id="tl_buttons">
    <a href="{{ path('contao_backend', {'do': 'member', 'rt': requestToken, 'ref': app.request.attributes.get('_contao_referer_id')}) }}" class="header_back" title="">{{ 'MSC.backBT'|trans({}, 'contao_default') }}</a>
</div>
<div id="tl_soverview">
    <div>
        <form action="{{ path('contao_cb_member_send_passoword_send', {'rt': requestToken, 'ref': app.request.attributes.get('_contao_referer_id')}) }}" class="tl_form" method="post">
            <div class="tl_formbody_edit">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ requestToken }}">
                <fieldset class="tl_tbox nolegend">
                    <div class="w50">
                        <h3><label for="ctrl_notification">{{ 'tl_member.send_password_notification.0'|trans({}, 'contao_tl_member') }}</label></h3>
                        <select name="notification" id="ctrl_notification" class="tl_select">
                            {% for value, name  in notificationOptions %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <p class="tl_help tl_tip" title="">{{ 'tl_member.send_password_notification.1'|trans({}, 'contao_tl_member') }}</p>
                    </div>
                    <div class="w50 clr">
                        <h3><label for="ctrl_notification">{{ 'tl_member.send_password_select_page.0'|trans({}, 'contao_tl_member') }}</label></h3>
                        {{ passwordPageWidget|raw }}
                        <p class="tl_help tl_tip" title="">{{ 'tl_member.send_password_select_page.1'|trans({}, 'contao_tl_member') }}</p>
                    </div>
                </fieldset>
            </div>
            <div class="tl_submit_container">
                <button type="submit" name="sendPassword" id="sendPassword" class="tl_submit">{{ 'tl_member.send_password_send'|trans({}, 'contao_tl_member') }}</button>
            </div>
        </form>
    </div>
</div>
