<div id="tl_soverview">
    <div id="tl_send_action">
        <h2>{{ 'tl_member.send_password_information'|trans([], 'contao_tl_member') }}</h2>
        <strong>{{ 'tl_member.send_password_selected_notification'|trans([], 'contao_tl_member') }}</strong>
        <p>{{ notification }}</p>
    </div>
    <div id="tl_send_notification_action" class="not_active">
        <h2>{{ 'tl_member.send_password_send_information'|trans([], 'contao_tl_member') }}</h2>
        <strong>{{ 'tl_member.send_password_progress'|trans([], 'contao_tl_member') }}</strong>
        <div class="progress-bar stripes animated reverse slower">
            <div class="progress-bar-inner"></div>
        </div>
    </div>
    <div id="error"></div>
</div>
<div class="tl_formbody_submit">
    <div class="tl_submit_container">
        <button type="submit" name="terminate" id="terminate" class="tl_submit" accesskey="t">{{ 'MSC.cancelBT'|trans([], 'contao_default') }}</button>
    </div>
</div>
